{% extends 'Mywebsite/header.html' %} {% block content %} {% load static %}
<script src="{% static 'js/js1.js' %}"></script>
<br>
<h1>ข้อมูลข่าวสาร</h1>
<table id="" class="table table-striped">
    <thead>
        <tr>

            <th scope="col">ID</th>
            <th scope="col">หัวข้อ</th>
            <th scope="col">วันที่</th>
            <th scope="col">แก้ไข</th>
            <th scope="col">ลบ</th>
        </tr>
    </thead>
    <tbody>
        {% for data in news %}
        <tr>

            <th scope="row">{{data.id}}</th>
            <td>{{data.news_title}}</td>
            <td>{{data.news_date}}</td>

            {% if user.first_name == 'worrachag' %}
            <td>
                <form action="{% url 'contentedit' %}" method="get">
                    <input type="hidden" value="{{data.news_title}}" name="title">
                    <button type="submit" class="btn btn-primary">แก้ไข</button>
                </form>
            </td>
            <td><button type="submit" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal{{data.id}}">ลบข้อมูล</button></td>
            {% else %}
            <td>
                <button onclick="myFunction1()" type="button" class="btn btn-primary">แก้ไข</button>
            </td>
            <td>
                <button onclick="myFunction()" type="button" class="btn btn-danger">ลบข้อมูล</button>
            </td>
            {% endif %}

        </tr>













        <!-- Modal -->
        <div class="modal fade" id="exampleModal{{data.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <form action="{% url 'contentdelete' %} " method="POST">
                    {% csrf_token %}
                    <input type="hidden" value="{{data.id}}" name="id">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">ยืนยันการลบข้อมูล</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            คุณต้องการลบข้อมูล Title {{data.news_title}} หรือไม่
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">ยืนยันการลบข้อมูล</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        {% endfor %}
    </tbody>
</table>



{% endblock %}