{% extends 'Mywebsite/header.html' %} {% block content %} {% load wysiwyg %} {% wysiwyg_setup %}
<br>
<h1>แก้ไขข้อมูล</h1>
{% for data in result %}
<form action="{% url 'contentupdate' %}" enctype="multipart/form-data" method="POST">
    {% csrf_token %}
    <h1>{{ data.atIndex }}</h1>
    <input type="hidden" value="{{data.id}}" name="id">
    <div class='form-group'>
        <label for="">ชื่อข่าวสาร</label>
        <input type="text" class="form-control" name="news_title" value="{{data.news_title}}">
    </div>
    <div class='form-group'>
        <label for="">รายละเอียดข่าวสาร</label>
        <textarea id="detail" type="text" class="form-control" name="news_detail" rows="5">{{data.news_detail}}</textarea>
    </div>
    <div class="card mb-3">
        <img class="card-img-top" src="{{ data.news_photo.url}}" alt="Card image cap">
    </div>

    <input type="submit" value="แก้ไขข่าวสาร" class="btn btn-success">
</form>
{%endfor%} {% wysiwyg_editor "detail" %} {% endblock %}